@import "../../../../App";

$color: #08890a;
$color-highlight: #25ff16;

$ns: input;

.#{$ns} {
    > input {
        margin-left: 10px;
        width: 150px;
        font-family: $share-tech;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: transparent;
        caret-color: $color-highlight;
        border-bottom: 2px solid $color;
    }
}