@import "../../../../App";

$ns: input;

.#{$ns} {
    display: inline-block;
    > input {
        width: 150px;
        font-family: $share-tech;
        font-size: 18px;
        outline: none;
        background-color: transparent;
        caret-color: $color-highlight;
        border: 2px solid $color;
        border-radius: 4px;
        cursor: inherit;
    }
}
