$ns: computer;

.#{$ns} {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: black;
    position: relative;

    .#{$ns}-content {
        transform: scale(1);
        transition: transform 1500ms;
    }

    &.sitting {
        .#{$ns}-content {
            transform: scale(1);
        }
    }

    .#{$ns}-hardware {
        transform: rotate(-0.2deg);
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
        .#{$ns}-box {
            .#{$ns}-cut-out {
                position: absolute;
                top: 63px;
                bottom: 0;
                left: -1186px;
                right: 0;
                margin: auto;
                width: 2400px;
                border: 10px solid #595959;
                border-radius: 50px;
            }
            .#{$ns}-off-screen {
                position: absolute;
                top: -241px;
                left: -307px;
                width: 610px;

                &.on {
                    opacity: 0;
                }
                &.off {
                    opacity: 1;
                }
            }
        }
    }
}

