$ns: power;

.#{$ns} {
  position: absolute;
  top: -82px;
  left: -441px;
  z-index: 60;
  width: 48px;
  height: 48px;
  pointer-events: none;
  &.power-button {
    pointer-events: all;
  }

  .#{$ns}-wrapper {
    position: relative;

    .#{$ns}-button {
      width: 50px;
      height: 50px;
      left: 4px;
      position: relative;
      top: -2px;
      cursor: pointer;
      border-radius: 50%;

      &.on {
        top: 0;
        left: 6px;
        width: 48px;
        height: 48px;
      }
      &.off {
        opacity: 1;
      }
    }

    .#{$ns}-glow {
      position: absolute;
      top: -1px;
      left: 5px;
      width: 49px;
      height: 49px;
      border-radius: 50%;
      cursor: pointer;
      pointer-events: none;
      &.white {
        animation: power-attention-white-glow 1.5s infinite;
      }
      &.color {
        animation: power-attention-color-glow 1.5s infinite;
      }
    }

    @keyframes power-attention-white-glow {
      0%{box-shadow: color-mix(in srgb, white 20%, transparent) 1px 1px 0 -5px}
      50%{box-shadow: color-mix(in srgb, white 20%, transparent) 1px 1px 10px 10px}
      100%{box-shadow: color-mix(in srgb, white 20%, transparent) 1px 1px 0 -5px}
    }
    @keyframes power-attention-color-glow {
      0%{box-shadow: color-mix(in srgb, var(--color-highlight) 50%, transparent) 1px 1px 0 -5px}
      50%{box-shadow: color-mix(in srgb, var(--color-highlight) 50%, transparent) 1px 1px 5px 5px}
      100%{box-shadow: color-mix(in srgb, var(--color-highlight) 50%, transparent) 1px 1px 0 -5px}
    }
  }
}
