$ns: power;

.#{$ns} {
    position: absolute;
    top: -81px;
    left: -439px;
    z-index: 60;
    pointer-events: all;

    .#{$ns}-button {
        width: 47px;
        left: 4px;
        position: relative;
        top: -2px;
        cursor: pointer;

        &.on {
            // nothing
        }
        &.off {
            opacity: 0;
        }
    }
}
