$ns: power;

.#{$ns} {
    position: absolute;
    top: -81px;
    left: -439px;
    z-index: 60;
    pointer-events: all;

    .#{$ns}-button {
        width: 48px;
        height: 48px;
        left: 4px;
        position: relative;
        top: -2px;
        cursor: pointer;
        border-radius: 50%;

        &.on {
            top: 0;
            height: 47px;
        }
        &.off {
            opacity: 1;
            //box-shadow: rgba(37, 255, 22, 0.69) 0 0 10px 5px;
            animation: power-attention 2s infinite;
            //border: 1px solid red;
        }

        @keyframes power-attention {
            0%{box-shadow: rgba(37, 255, 22, 0.69) 0 0 0 -5px}
            50%{box-shadow: rgba(37, 255, 22, 0.69) 0 0 5px 5px}
            100%{box-shadow: rgba(37, 255, 22, 0.69) 0 0 0 -5px}
        }
    }
}
