@import "../../../../App";

$color: #08890a;
$color-highlight: #25ff16;

$ns: button;

.#{$ns} {
    background: transparent;
    font-family: $share-tech;
    font-size: 18px;
    padding: 0;
    border: none;

    &:hover {
        background-color: $color-highlight;
        -webkit-background-clip: unset;
        -webkit-text-fill-color: $color;
    }
}