@import "../../../../App";

$ns: button;

.#{$ns} {
    background: transparent;
    font-family: $share-tech;
    font-size: 18px;
    padding: 0;
    border: none;
    border-radius: 1.5px;
    cursor: inherit;
    color: inherit;
    text-shadow: inherit;

    &:hover {
        background-color: $color-highlight;
        -webkit-background-clip: unset;
        -webkit-text-fill-color: $color;
    }

    &:focus {
        outline:0;
    }

    &.full-width {
        width: 100%;
        text-align: left;
    }
}
